:root { 
    --oscuro:#36858A;
    --claro:#AEFEFF;
 }
 body {  
    margin: 0;
 }
 .contenedor { 
    width: 100%;
    height: 100vh;
    background-color: #072327;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.cuadrado_grande{
    width: 60%;
    height: 60%;
    display: flex;
}
.cuadrado_oscuro{
    background-color:  var(--oscuro);
    opacity:  80%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: rgb(240, 248, 255);
}
.cuadrado_claro{
    background-color: var(--claro);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuadrado_claro input{
    background-color: white;
    color: black;  
}

::placeholder{
    color: grey;
}

.cuadrado_claro p{
    font-size: large;
    font-weight: 800;
    color: #36858A;
    margin-right: 32%;
    margin-left: 10%;
}

.cuadrado_claro p:first-child{
    margin-right: 40%;
}

.cuadrado_claro button:last-child{
    background-color: var(--oscuro) ;
    color: black;
    height: 4vh;
    margin-top: 21%;
    border-radius: 10px;
}

.cuadrado_claro span {
    margin: 20px;
    font-size: 11px;
}