:root { 
    --celeste:rgb(27, 229, 236);
    --verde:rgb(36, 228, 138);
    --violeta:rgb(102, 21, 233); 

 }
 body {  

    margin: 0;
 }
 .contenedor { 

    width: 100%;
    height: 100vh;
    background-color: darkslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.cuadrado_grande{

    background-color: var(--violeta);
    width: 50%;
    height: 50%;
    display: flex;

}
.cuadrado_celeste{

background-color:  var(--celeste);
opacity:  80%;
width: 50%;
height: 100%;
display: flex;
justify-content: center;
color: rgb(240, 248, 255);

}
.cuadrado_verde{
background-color: var(--verde);
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.cuadrado_verde input{

background-color: black;
color: blueviolet;  

}
::placeholder{

    color: rgb(152, 6, 182);
}
.cuadrado_verde p{

    color: rgb(140, 6, 250);
    margin-right: 32%;
}

.cuadrado_verde p:first-child{

    margin-right: 40%;
}
.cuadrado_verde input:last-child{

    background-color: blue;
    color: darkcyan;
    height: 4vh;
    margin-top: 21%;
    border:none;
    border-radius: 3px;
}