* {
    margin: 0;
    padding: 0;
}


nav ul {
    list-style-type: none;
    background:#072327;
    padding: 2% 2%;
    height: 10%;
    box-sizing: border-box;
   
}   


nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #36858A;
    padding: 5%;
}
nav ul li a:hover {
    color: #50BDBA;
}

.tprincipal td{ 
    border: 2px solid #072327;
}

.tnested{ 
    border: 2px solid #072327;
}


 
                            