<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina_confirmacion_enviar_dinero</title>
    <link rel="stylesheet" href="CSS/pagina_confirmacion_enviar_dinero.css">
</head>
<body>
    <div class="container">   
        <div class="principal">
            <div class="top">
                <p>Pagina Confirmacion</p> 
                <img src="IMG/el monograma de la desorganizada.png"  alt="Logo">
            </div>
                <div class="info">
                    <span>Nombres: </span>
                    <input type="text" placeholder="Sus nombres son:"> <br> <br>
                    <span> Apellidos: </span>
                    <input type="text" placeholder="Sus apellidos son:"> <br> <br>
                    <span> Email: </span>
                    <input type="text" placeholder="Su email es:"> <br> <br>
                    <p>
                        Datos de Transaccion
                    </p>
                    <span>Monto Moneda local: </span>
                    <input type="text" placeholder="Su monto es:"> <br> <br>
                    <span>Monto Moneda de Destino: </span>
                    <input type="text" placeholder="Su monto en moneda de Destino:"> <br> <br>
                    <span>Tarifa por Transaccion: </span>
                    <input type="text" placeholder="Su Tarifa es:"> <br> <br>
                    <div class="cancelar">
                        <a href="pagina_enviar_dinero.html">

                            <input type="submit " value="cancelar">
                           </a>

                    </div>
                    <div class="enviar">
                        <a href="pagina_inicio.html">

                            <input type="submit " value="Enviar">
                           </a>

                    </div>
                </div>
        </div>
    </div>
</body>
</html> 