<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina_deshabilitar_habilitar_moneda</title>
    <link rel="stylesheet" href="CSS/pagina_habilitar_deshabilitar_moneda.css">
</head>
<body>
    <div class="container">   
        <div class="principal">
            <div class="top">
                <p>Deshabilitar/Habilitar Moneda</p> 
                <img src="IMG/el monograma de la desorganizada.png"  alt="Logo">
            </div>
                <div class="info">
                    <span>Nombre De la moneda : </span>
                    <select name="selection" id="selection">
                        <option value="USD">USD</option>
                        <option value="COP">COP</option>
                        <option value="GBP">GBP</option>
                    </select>
                    <span> </span>
                    <input type="text" placeholder="Seleccione ID:">  <br> <br>
                    <select name="selection" id="selection">
                        <option value="101012">101012</option>
                        <option value="101013">101013</option>
                        <option value="101014">101014</option>
                    </select>
                        <button class="No esta su ID?" name="No esta su ID?"> No esta su ID? </button>
                    </p>
                </div>
        </div>
    </div>
</body>
</html> 