{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina_agregar_destinatario</title>
    <link rel="stylesheet" href="{% static 'CSS/pagina_agregar_moneda_style.css' %}">  
</head>
<body>
    <div class="container">
        <div class="principal">
            <div class="top">
                <h1>Lista de Monedas</h1>
            </div>
            <div class = "info">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>  
                            <th> Moneda </th>  
                            <th> Codigo </th>  
                        </tr>
                    </thead>
                    <tbody>
                        {% for Monedas in object_list %}
                            <tr>
                                <td> {{ Monedas.id_Moneda}} </td> 
                                <td> {{ Monedas.Moneda}} </td> 
                                <td> {{ Monedas.Codigo}} </td> 
                                <td>
                                <a href="{% url 'editar' Monedas.id_Moneda%}">
                                    <button type="submit" class = "btm btn-danger" name="Eliminar" >
                                        Editar
                                    </button>
                                </a>
                                </td>
                                <td>
                                    <a href="{% url 'archivar' Monedas.id_Moneda%}">
                                        <button type="submit" class = "btm btn-danger" name="Eliminar" >
                                            Deshabilitar
                                        </button>
                                    </a>
                                    </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html> 