{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina_inicio</title>
    <link rel="stylesheet" href="{% static 'CSS/pagina_inicio_style.css' %}">  
</head>
<body>
    <div class="contenedor">
        <div class="cuadrado_grande">
            <div class="cuadrado_oscuro">
                <p>Inicio de Sesion</p>
                <p>
                    <img src= "{% static 'IMG/el monograma de la desorganizada.png' %}" alt="Logo" > 
                </p>            
            </div>
            <div class="cuadrado_claro">
                <form action="", method="post">
                {% csrf_token %}
                    {{ form.as_p }}
                    <a href="">
                        <button type="submit" name="Iniciar sesion">
                            Iniciar Sesion
                        </button>
                    </a>
                </form>
                <a href="{% url 'crearcuenta' %}">
                    <span>¿No tiene cuenta? Registrese aqui</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>