{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina_agregar_destinatario</title>
    <link rel="stylesheet" href="{% static 'CSS/pagina_agregar_moneda_style.css' %}">  
</head>
<body>
    <div class="container">
        <div class="principal">
            <div class="top">
                <h1>Eliminar</h1>
            </div>
            <div class = "info"> 
                <form class="" action="" method="post">
                  {% csrf_token %}
                  <h3>¿Desea deshabilitar la moneda</h3>
                  <button class = "btm btn-danger"type="submit" >Sí, eliminar</button>
                  <a class= "btn btn-default" href="{% url 'monedalist' %}">Cancelar</a>
                </form>
            </div>  
        </div>
    </div>
</body>
</html> 