{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina_agregar_destinatario</title>
    <link rel="stylesheet" href="{% static 'CSS/pagina_agregar_moneda_style.css' %}">  
</head>
<body>
    <div class="container">
        <div class="principal">
            <div class="top">
                <h1>Registrar</h1>
            </div>
            <div class = "info">
            <form method="post", action="">
              {% csrf_token %}
              {{ form.as_p }}
              <a href="{%url 'pais' %}"> El pais de esta ciudad no esta registrado? Registrelo</a>
              <a href="">
                  <button type="submit" name="Crear" >
                      Crear
                  </button>
              </a>    
            </form>
            </div>
        </div>
    </div>
</body>
</html> 