<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina_editar_tarifa_envio</title>
    <link rel="stylesheet" href="CSS/pagina_editar_tarifa_envio.css">
</head>
<body>
    <div class="container">   
        <div class="principal">
            <div class="top">
                <p>Editar Tarifa de Envio</p> 
            </div>
                <div class="info">
                    <span class="nombremoneda">Valor Fijo : </span>
                    <select name="selection" id="selection">
                        <option value="USD">1USD</option>
                        <option value="COP">1COP</option>
                        <option value="GBP">1GBP</option>
                        <option value="USD">1GBP</option>
                        <option value="AUD">1GBP</option>
                    </select>
                    <span> </span>
                    <input type="text" placeholder="Inserte Valor de Tarifa:$$$$">  <br> <br>
                    <span> Porcentaje de transaccion: </span>          
                    <input type="number" placeholder="Porcentaje de transaccion"> <br> <br>
                    <p class="button">
                        <button class="crear" name="Crear"> ¿Desea editar otra tarifa? </button>
                    </p>
                </div>
        </div>
    </div>
</body>
</html> 