<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina_editar_moneda</title>
    <link rel="stylesheet" href="CSS/pagina_editar_moneda.css">
</head>
<body>
    <div class="container">   
        <div class="principal">
            <div class="top">
                <p>Editar Monedas</p> 
            </div>
                <div class="info">
                    <span class="nombremoneda">Nombre De la moneda : </span>
                    <select name="selection" id="selection">
                        <option value="USD">USD</option>
                        <option value="COP">COP</option>
                        <option value="GBP">GBP</option>
                        <option value="USD">GBP</option>
                        <option value="AUD">GBP</option>
                    </select>
                    <span> </span>
                    <input type="text" placeholder="Inserte codigo Ej:COP">  <br> <br>
                    <span> Tasa de conversion: </span>          
                    <input type="number" placeholder="Ingrese Tasa"> <br> <br>
                    <p class="button">
                        <button class="crear" name="Crear"> Otra moneda? </button>
                    </p>
                </div>
        </div>
    </div>
</body>
</html> 