<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="prueba.css">
<title>CSS Creative Menu Item Hover Effects</title>
<link rel="stylesheet" type="text/css" href="
Style.css" />
</head>
<body>
    <header>
        <nav>        
            <ul class="barra">
                <li data-text="Pagina Agregar Destinatario"><a href="#">Pagina Agregar Destinatario</a></li>"
                <li><a class="Pagina Agregar Dinero Cuenta" href="#home">Pagina Agregar Dinero Cuenta</a></li>
                <li><a href="Pagina Agregar Moneda">Pagina Agregar Moneda</a></li>
                <li><a href="Pagina Confirmacion Enviar Dinero">Pagina Confirmacion Enviar Dinero</a></li>        

             </ul>
        </nav>
    </header>
        <ul class="centro">
            <li data-text="Crear Cuenta"><a href="#">Crear Cuenta</a></li>"
            <li data-text="Agregar Destinatario"><a href="#">Agregar Destinatario</a></li>"
            <li data-text="Enviar Dinero"><a href="#">Enviar Dinero</a></li>"
            <li data-text="Agregar Dinero"><a href="#">Agregar Dinero</a></li>"
            <li data-text="Agregar Moneda"><a href="#">Agregar moneda</a></li>"
            <li data-text="Consultar Lista De Transacciones"><a href="#">Consultar Lista De Transacciones</a></li>"
            <li data-text="Consultar Saldo Cuenta"><a href="#">Consultar Saldo Cuenta</a></li>"
            <li data-text="Habilitar o Deshabilitar moneda"><a href="#">Habilitar o Deshabilitar moneda</a></li>"
            <li data-text="Consultar Transacciones"><a href="#">Consultar Transacciones</a></li>"
            <li data-text="Consultar Lista de  Moneda"><a href="#">Consultar Lista de  Moneda</a></li>"
        </ul>
    </body>




</html>